<%- include("partials/header"); -%>

<nav class="navbar navbar-light navbar-expand-sm" style="background-color: #E9E7EA">
   <p class="navbar-brand" style="font-family: 'Josefin Sans', sans-serif;">About</p>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
         <li class="nav-item active">
            <a class="nav-link" href="/">HOME</a>
         </li>
         <li class="nav-item active">
            <a class="nav-link" href="/login" tabindex="-1">LOG IN</a>
         </li>
         <li class="nav-item">
            <a href="/register">
               <span class="btn btn-dark mb-2">Get Started</span>
            </a>
         </li>
      </ul>
   </div>
</nav>

</head>
<body>
   <div class="container mt-5">
      <blockquote class="blockquote text-right display-1" style="font-size: 1.5rem; font-family: 'Josefin Sans', sans-serif;">
         <p class="mb-0"><b>Ideas are easy. Implementation is hard.</b></p>
         <footer class="blockquote-footer"><cite title="Source Title">Guy Kawasakie</cite></footer>
      </blockquote>
      <div class="mt-5 mb-5 text-left display-3 about" style="font-family: 'Caveat', cursive;">
         JSMedium is a blog website which is made using Nodejs, Express, Ejs, Mongoose, Bootstrap for styling, MongoDB as database.<br><br>
         For Security and authentication of user passwords 'bcrypt' package is used.<br><br>
         Fonts are taken from google fonts and vector images from drawkit.
      </div>
   </div>
<%- include("partials/footer"); -%>
