<%- include("partials/header"); -%>
   <h1 class="dispay-3 mt-5">Search Results</h1>
   <% articles.forEach(function(article){  %>
      <h2> <%= article.title %> </h2>
      <p> <%= article.body %> </p>
   <% }) %>
<%- include("partials/footer"); -%>