* {
   box-sizing: border-box;
} 

container-fluid {
   padding-top: 70px;
   padding-bottom: 70px;
}

.navbar {
   padding: 30px 50px 30px 50px;
   border: 0;
   border-radius: 0;
   margin: 0;
   font-size: 12px;
   letter-spacing: 5px;
}

.navbar-nav .navbar-brand li a, a:visited {
   color: whitesmoke;
}

li a:hover{
   font-weight: bold;
}

.nav-item {
   float: left;
   padding-left: 36px;
}

li {
   float: left;
   padding-left: 25px;
}

.Intro {
   position: relative;
   overflow-x: hidden;
}

.centered {
   position: absolute;
   top: 27%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Merriweather', serif;
   font-size: 6rem;
}

.home {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 4rem;
}

.m-10 {
   margin-top: 10rem;
   margin-bottom: 10rem;
}

@media only screen and (max-width: 480px) {
   .centered{
      top: 10%;
      font-size: 4.5rem;
   }

   .home {
      font-size: 3rem;
   }

   .m-10 {
      margin-top: 7rem;
      margin-bottom: 7rem;
   }
}