/* Global rules */
* {
   box-sizing: border-box;
} 

container-fluid {
   padding-top: 70px;
   padding-bottom: 70px;
}

.navbar {
   padding: 30px 50px 30px 50px;
   border: 0;
   border-radius: 0;
   margin: 0;
   font-size: 12px;
   letter-spacing: 5px;
}

.navbar-nav .navbar-brand li a {
   color: whitesmoke;
}

li a:hover{
   font-weight: bold;
}

.nav-item {
   float: left;
   padding-left: 36px;
   font-family: 'Josefin Sans', sans-serif;
}

li {
   float: left;
   padding-left: 25px;
}

.Intro {
   position: relative;
   overflow-x: hidden;
}

.centered {
   position: absolute;
   top: 27%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Merriweather', serif;
   font-size: 6rem;
}

.home {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 4rem;
}

.m-10 {
   margin-top: 10rem;
   margin-bottom: 10rem;
}
.p-10{
   padding: 10rem 0 10rem 5rem;
}

.fl {
   float: left;
   margin-left: 15rem;
}

.mright-10 {
   margin-right: 10rem;
}

.mleft-15 {
   margin-left: 15rem;
}

.about{
   font-size: 2.5rem;
}

.cont-head {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   font-size: 2.5rem;
   color: #000000;
}

.cont-body {
   font-family: 'Roboto', sans-serif;
   font-size: 1.3rem;
   color: #877d77;
}

.text-blue {
   color: #0063B2FF;
   font-size: 4.5rem;
   font-weight: 100;
}

.img-dev {
   height: 28rem;
   padding-right: 5rem;
}

.img-char {
   height: 25rem;
}

@media only screen and (max-width: 640px) {
   .centered{
      top: 10%;
      font-size: 4.5rem;
   }

   .home {
      font-size: 2rem;
      text-align: left;
   }

   .m-10 {
      margin-top: 7rem;
      margin-bottom: 7rem;
   }
   .p-10 {
      padding: 5rem 0 7rem 0;
   }
   .Explore {
      max-width: 100%;
      max-height: 15rem;
   }
   .blockquote{
      font-size: 1.2rem;
   }
   .about{
      font-size: 2rem;
   }
   .text-blue {
      font-size: 2.1rem;
      font-weight: 100;
   }
   .img-dev {
      display: none;
      padding-right: 0;
      padding-left: 6rem;
   }
   .img-char {
      height: 12rem;
   }
}

@media only screen and (max-width: 769px) {
   .mleft-15 {
      margin-top: 2rem;
      margin-left: 2rem;
   }
   .mright-10 {
      margin-right: 0%;
      float: left;
   }
}

/* Start body rules */
.overlay {
   background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
   background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
   background-attachment: fixed;
   background-repeat: no-repeat;
   font-family: 'Josefin Sans', sans-serif;
   opacity: .95;
}

.register {
   width: 400px;
   min-height: 500px;
   height: auto;
   border-radius: 5px;
   margin: 2% auto;
   box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
   padding: 2%;
   background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}
/* form Container */
.register .con {
   display: -webkit-flex;
   display: flex;

   -webkit-justify-content: space-around;
   justify-content: space-around;

   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;

   margin: 0 auto;
}

/* the header for form */
header {
   margin: 2% auto 10% auto;
   text-align: center;
} 

header p {
   letter-spacing: 0.03rem;
}

.input-item {
   background: #fff;
   color: #333;
   padding: 14.5px 0px 15px 9px;
   border-radius: 5px 0px 0px 5px;
}

/* Show/hide password Font Icon */
#eye {
   background: #fff;
   color: #333;
   margin: 6px 0 0 0;
   margin-left: -20px;
   padding: 15px 9px 19px 0px;
   border-radius: 0px 5px 5px 0px;

   float: right;
   position: relative;
   right: 1%;
   top: -.2%;
   z-index: 5;
   cursor: pointer;
}

input[class="form-input"]{
   width: 240px;
   height: 50px;
   margin-top: 2%;
   padding: 15px;
   font-size: 16px;
   font-family: 'Josefin Sans', sans-serif;
   color: #5E6472;
   outline: none;
   border: none;
   border-radius: 0px 5px 5px 0px;
   transition: 0.2s linear;
}

input[id="txt-input"] {
   width: 250px;
}
/* focus  */
input:focus {
   transform: translateX(-2px);
   border-radius: 5px;
}

.buton {
   display: inline-block;
   color: #252537;

   width: 280px;
   height: 50px;

   padding: 0 20px;
   background: #fff;
   border-radius: 5px;
   
   outline: none;
   border: none;

   cursor: pointer;
   text-align: center;
   transition: all 0.2s linear;
   
   margin: 7% auto;
   letter-spacing: 0.05em;
}

.submits {
   width: 80%;
   height: 50px;
   display: inline-block;
   float: left;
   margin-left: 2%;
}

/*     Clear Fields button */
.clear {
   background: #B8F2E6;
}

/*     Sign Up button  */
.sign-up {
   margin-left: 3px;
   background: #B8F2E6;
}

.but-hover{
   transform: translatey(3px);
   box-shadow: none;
}

/* buttons hover Animation */
.but-hover:hover{
   animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
   0% {
      transform: translateY(3px);
   }
   100% {
      transform: translateY(5px);
   }
}
